// h5
taro-swiper-core {
  height: 100vh !important;
}

.swiper-slide {
  height: 100% !important;
}

.taro-video {
  height: 100% !important;
}

// weapp
swiper {
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
}
