.user-center {
  height: 100vh;
  background-color: black;

  .at-modal__content {
    min-height: unset;
    .at-input:after {
      display: none;
    }
  }
  // h5 样式重置
  .taro-video-container {
    position: unset;
    top: unset;
    left: unset;
  }
}

.wallpaper {
  width: 100vw;
  height: 300px;
  background-image: url('./sunset-desert-dunes.jpg');
  background-size: cover;
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
}

.user-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100vw;

  display: flex;
  align-items: center;
  .nickname {
    margin-left: 56px;
    margin-right: 8px;
    font-size: 48px;
    color: ghostwhite;
  }
}

.fav-videos {
  display: flex;
  flex-wrap: wrap;
  .fav-video-card {
    background-color: black;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    video {
      width: 100%;
      height: 100%;
    }
  }
}
